html {
  smoothing: antialiased;
}

body {
  background: #eaeaea;
  color: portal-color(med-gray);
  font-family: "SF UI Text", sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}


footer {
  grid-column: 1 / span 2;
}







