@each $key, $val in $sizingSteps {
  /* xxs, xs, s, m, l, xl, xxl, xxxl */
  .pad-all-#{$key} {
    padding: $val;
  }
  .pad-t-#{$key} {
    padding-top: $val;
  }
  .pad-r-#{$key} {
    padding-right: $val;
  }
  .pad-b-#{$key} {
    padding-bottom: $val;
  }
  .pad-l-#{$key} {
    padding-left: $val;
  }

  .marg-all-#{$key} {
    margin: $val;
  }
  .marg-t-#{$key} {
    margin-top: $val;
  }
  .marg-r-#{$key} {
    margin-right: $val;
  }
  .marg-b-#{$key} {
    margin-bottom: $val;
  }
  .marg-l-#{$key} {
    margin-left: $val;
  }
}

.title-l {
  @include font($size: xl, $weight: 400, $color: portal-color(med-gray));

  &--thin {
    @include font($size: xl, $weight: 200, $color: portal-color(med-gray));
  }

  &--bold {
    @include font($size: xl, $weight: 600, $color: portal-color(med-gray));
  }
}

.title-m {
  @include font($size: mm, $weight: 400, $color: portal-color(med-gray));

  &--thin {
    @include font($size: mm, $weight: 200, $color: portal-color(med-gray));
  }

  &--bold {
    @include font($size: mm, $weight: 600, $color: portal-color(med-gray));
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  justify-content: space-between;
  max-width: 25%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}



.menu-icon {
  width: 35px;
  margin: 0 15px 0 0;

  .line {
    width: 33px;
    height: 6px;
    background-color: portal-color(dark-gray);
  }

  & > * + * {
    margin: 6px 0 0 0;
  }
}

